<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prediction</title>
    <style>
        #d{
            margin-top:10%;
    
            
        }

       
    </style>
</head>
<body>
    <center>
        <div id="d">
            <form action="/uploaded" method="post" enctype="multipart/form-data">
                <input type="file" id="myFile" name="filename" style="margin-bottom: 20px;" class="form-control"><br>
                <input type="submit" style="margin-right: 200px;" class="btn btn-info">
            </form>

        </div>
        
    </center>
   
</body>
</html>